
body {
    font-size: .875rem;
    font-family: "Raleway";
  }

a {
  color: #0047AB;
}
a:hover {
  color: #0898ff;
  text-decoration: none;
}
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
.btn {
  border-radius: 0;
}
.btn-primary {
  background-color: #0047AB;
  border-color: #0047AB;
}

/* signin */
body.signin, html.signin {
  height: 100%;
}
body.signin {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 2.5rem 2rem;
  margin: auto;
}




/* primary nav */
.primary-nav {
  background-color: #E3E8EB;
  height: 58px;
  z-index: 3;
}
.primary-nav .btn:hover, 
.primary-nav .nav-item.active .btn {
  color: #0047AB;
}
.primary-nav .navbar-collapse {
  background-color: #E3E8EB;
  background: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 58px;
  box-shadow: 0 15px 12px rgba(0, 0, 0, 0.12);
}
.primary-nav .nav-item {
  border-bottom: 1px solid #dee2e6;
}
@media (min-width: 992px) {
  .primary-nav .navbar-collapse {
    top: 0;
    width: auto;
    position: relative;
    background: none;
    box-shadow: none;
  }
  .primary-nav .navbar-collapse .navbar-nav {
    right: 0;
    position: absolute;
  }
  .primary-nav .navbar-collapse .nav-item  {
    border: none;
  }
}


/* secondary nav  */
.secondary-nav {
  top: 56px;
  height: 64px;
  z-index: 2;
}
.secondary-nav:after {
  content: "";
  display: block;
  position: absolute;
  width: 180px;
  background: url(./imgs/logo-black.png) no-repeat center;
  background-size: contain;
  height: 20px;
  right: 1rem;
  opacity: .3;
}
.secondary-nav .navbar-collapse {
  background: #fff;
  position: absolute;
  width: 100%;
  top: 64px;
  box-shadow: 0 15px 12px rgba(0, 0, 0, 0.12);
}
.secondary-nav .navbar-collapse .nav-item  {
  display: block;
  border-bottom: 1px solid #dee2e6;
}
.secondary-nav .btn {
  box-shadow: none;
  text-align: left;
}
.secondary-nav .btn:hover,
.secondary-nav .btn.active {
  box-shadow: none;
  color: #0047AB;
}
.secondary-nav .itpf-logo {
  top: 1.2rem;
  right: 2rem;
  opacity: 0.2;
}
@media (min-width: 992px) {
  .secondary-nav .navbar-collapse {
    top: 0;
    width: auto;
    position: relative;
    background: none;
    box-shadow: none;
  }
  .secondary-nav .navbar-collapse .nav-item  {
    display: block;
    border: none;
  }
  .secondary-nav .btn {
    box-shadow: inset 0 -5px 0 #f8f9fa;
    border-radius: 0;
    padding: 1rem;
    font-size: 1.2rem;
  }
  .secondary-nav .btn:hover,
  .secondary-nav .btn.active {
    box-shadow: inset 0 -5px 0 #0047AB;
    background: none;
    color: #0047ab;
  }
}





/* sidebar */
.sidebar {
  z-index: 1; /* Behind the navbar */
  padding: 120px 0 0; /* Height of navbar */
  overflow: hidden;
  text-align: center;
  font-size: .6rem;
  min-height: 80vh;
}
.sidebar i {
  font-size: 1.3rem;
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  border-left: .3rem solid #fff ;
  padding: 1rem 0;
}
.sidebar .nav-link.active,
.sidebar .nav-link:hover  {
  background-color: #fff;
  font-weight: bold;
  border-left: .3rem solid #0047AB;
}
@media (min-width: 768px) {
  .sidebar {
    font-size: .8rem;
  }
  .sidebar i {
    font-size: 1rem;
  }
  .sidebar .nav-link {
    padding: .8rem 1rem;
  }
}
@media (min-width: 1280px) {
  .sidebar {
    font-size: 1rem;
    text-align: left;
  }
  
}


  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
  }
  
  @media (min-width: 768px) {
    [role="main"] {
      padding-top: 118px; /* Space for fixed navbar */
    }
  }
  

  


  /* Table */

  .table-responsive thead{
    background-color: #E3E8EB;
    border: 0;
  }

  /* input types */
  .custom-select,
  .form-control,
  .custom-file-label {
    border-radius: 0;
  }

  /* drag n drop */
.inputDrop .form-control-file {
    position: relative;
    min-height: 2.1rem;
    outline: none;
    visibility: hidden;
    cursor: pointer;
}
.inputDrop .form-control-file:before {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1rem;
  font-size: .8rem;
  padding: .4rem;
  opacity: 1;
  visibility: visible;
  text-align: center;
  border: 2px dashed #dee2e6;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  background: #fff;
}
.inputDrop .form-control-file:hover:before {
  background: #E3E8EB;
  border-color: #ccc;
}