html {
    &.signin {
        height: 100%;
    }
}

body {
    font-size: .875rem;
    font-family: "Raleway";

    &.signin {
        height: 100%;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }
}

a {
  color: #0047AB;

  &:hover {
    color: #0898ff;
    text-decoration: none;
  }
}
  
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
  
.btn {
  border-radius: 0;
}
.btn-primary {
  background-color: #0047AB;
  border-color: #0047AB;
}
.text-primary {
  color: #155bbf!important;
}


/* signin */
.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 2.5rem 2rem;
  margin: auto;
}

/* input types */
.custom-select,
.form-control,
.custom-file-label {
	border-radius: 0;
}


/* primary nav */
.primary-nav {
  background-color: #E3E8EB;
  height: 58px;
  z-index: 5;

  .btn {
      &:hover {
        color: #0047AB;
      }
  }

  .nav-item {
    border-bottom: 1px solid #dee2e6;
    &.active {
        .btn {
            color: #0047AB;
        }
    }
  }

  .navbar-collapse {
    background-color: #E3E8EB;
    background: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 58px;
    box-shadow: 0 15px 12px rgba(0, 0, 0, 0.12);
  }

}

@media (min-width: 992px) {
  .primary-nav .navbar-collapse {
    top: 0;
    width: auto;
    position: relative;
    background: none;
    box-shadow: none;
  }
  .primary-nav .navbar-collapse .navbar-nav {
    right: 0;
    position: absolute;
  }
  .primary-nav .navbar-collapse .nav-item  {
    border: none;
  }
}


/* secondary nav  */
.secondary-nav {
    top: 56px;
    height: 64px;
    z-index: 4;
    
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 180px;
        background: url(./imgs/logo-black.png) no-repeat center;
        background-size: contain;
        height: 20px;
        right: 1rem;
        opacity: .3;
    }

    .navbar-toggler {
        position: absolute;
        left: 2rem;
    }

    .navbar-collapse {
        background: #fff;
        position: absolute;
        width: 100%;
        top: 64px;
        box-shadow: 0 15px 12px rgba(0, 0, 0, 0.12);

        .nav-item  {
            display: block;
            border-bottom: 1px solid #dee2e6;
        }
    }

    .btn {
        box-shadow: none;
        text-align: left;

        &:hover, &.active {
            box-shadow: none;
            color: #0047AB;
        }
    }

    .itpf-logo {
        top: 1.2rem;
        right: 2rem;
        opacity: 0.2;
    }
}


@media (min-width: 992px) {
    .secondary-nav {
        .navbar-collapse {
            top: 0;
            width: auto;
            position: relative;
            background: none;
            box-shadow: none;

            .nav-item  {
                display: block;
                border: none;
              }
        }

        .btn {
            box-shadow: inset 0 -5px 0 #f8f9fa;
            border-radius: 0;
            padding: 1rem;
            font-size: 1.2rem;
        
            &:hover, &.active {
                box-shadow: inset 0 -5px 0 #0047AB;
                background: none;
                color: #0047ab;
            }
        }
    }

}





/* sidebar */
button.sidebar-toggle {
  left: 0;
  position: absolute;
  border: 0;
  background: none;
  padding: .5rem;
  width: 2rem;
  z-index: 2;
}
.sidebar {
  z-index: 1; /* Behind the navbar */
  padding: 120px 0 0; /* Height of navbar */
  overflow: hidden;
  text-align: center;
  font-size: .6rem;
  min-height: 80vh;

  i {
    font-size: 1.3rem;
  }

  .nav-link {
    font-weight: 500;
    color: #333;
    border-left: .3rem solid #fff ;
    padding: 1rem 0;

      &:hover, &.active {
        background-color: #fff;
        font-weight: bold;
        border-left: .3rem solid #0047AB;
      }
  }
}


@media (min-width: 768px) {
  .sidebar {
    font-size: .8rem;
    text-align: left;

    i  {
        font-size: 1rem;
        position: absolute;
        left: 10px;
        top: 16px;
    }

    .nav-link {
        padding: .8rem 1rem .8rem 2.5rem;
        position: relative;
    }
  }
}
@media (min-width: 1280px) {
  .sidebar {
    font-size: 1rem; 
  }
}


  
/*  Content */
  
[role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 118px; /* Space for fixed navbar */
    }
}
@media (min-width: 768px) {
    .recent-po {
        border-left: 1px solid #dee2e6;
    }
}

main {
    aside.hide {
        display: none;
    }
    section.full {
        width: 100%;
        max-width: 100%;
        flex: 100%;
        -ms-flex: 100%;
    }
} 


  /* Table */
.table td, .table th {
    padding: .75rem .4rem;
}

.table-responsive {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;

  &.inventory-analysis {
      .hidden-fields {
        display: none;

          &.active {
            display: table-cell;
          }
      }
  }

  thead {
    background-color: #E3E8EB;
    border: 0;
      th {
        vertical-align: middle;
      }
  }

  td {
      > .btn, .form-control {
          font-size: 1em;
      }

      > .input-group {
          input, button {
            height: 28px;
            font-size: 1em;
          }
      }
  }
}


/*---------------------*/
/*     DASHBOARD    */
/*---------------------*/

/* DASHBOARD-> Sales Data  */
.sales-data-wrap {
	.sales-category {
		max-width: 500px;
	}
	.sales-widgets {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.7rem;

		p, h5, a{
			white-space: nowrap;
		}

		a.explain-amount {
			font-size: .65rem;
		}

		.text-gray {
			color: #2b2b2b;
		}
	}
	.product-list {
		text-align: right;
	}
}




/*---------------------*/
/*     SUPLY CHAIN     */
/*---------------------*/

/* SUPLY CHAIN -> Inventory Analysis  */
.inline-edit {
  display: inline-block;
  
  .input-group {
      display: none
  }

  a {
      display: block;
  }

  &.show {
    .input-group {
        display: flex;

        input, button {
            width: 60px;
            height: 24px;
            padding: 0 5px;
        }
    }
    a {
        display: none;
    }
  }
  
}

/* SUPLY CHAIN -> P.O Creator  */
.pofile-wrap {
	overflow: auto;

	table.pofile {
		a {
			color: inherit;
		}
		input {
			border: 0;
			width: 100%;
		}
		tr, td {
			border: 1px solid #dee2e6;
		}
		.s4 {
			background-color: #efefef;
			text-align: right;
			font-weight: bold;
			color: #000000;
			font-family: "Trebuchet MS";
			font-size: 10pt;
			vertical-align: bottom;
			white-space: nowrap;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		.s13 {
			background-color: #ffffff;
			text-align: center;
			font-weight: bold;
			color: #000000;
			font-family: "Trebuchet MS";
			font-size: 10pt;
			vertical-align: bottom;
			white-space: nowrap;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		.s15 {
			background-color: #efefef;
			text-align: right;
			color: #ff0000;
			font-family: "Trebuchet MS";
			font-size: 10pt;
			vertical-align: bottom;
			white-space: nowrap;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		.s2 {
			background-color: #efefef;
			text-align: left;
			font-weight: bold;
			color: #000000;
			font-family: "Trebuchet MS";
			font-size: 10pt;
			vertical-align: bottom;
			white-space: nowrap;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		.s10 {
			background-color: #ffffff;
			text-align: center;
			color: #000000;
			font-family: "Trebuchet MS";
			font-size: 10pt;
			vertical-align: bottom;
			white-space: nowrap;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		.s9 {
			background-color: #ffffff;
			text-align: left;
			color: #333399;
			font-family: "Arial";
			font-size: 10pt;
			vertical-align: bottom;
			white-space: nowrap;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		.s5 {
			background-color: #ffffff;
			text-align: left;
			color: #000000;
			font-family: "Trebuchet MS";
			font-size: 10pt;
			vertical-align: bottom;
			white-space: nowrap;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		.s1 {
			background-color: #ffffff;
			text-align: right;
			font-weight: bold;
			color: #000000;
			font-family: "docs-pingfang sc", Arial;
			font-size: 24pt;
			vertical-align: bottom;
			white-space: nowrap;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		.s8 {
			background-color: #000000;
			text-align: center;
			font-weight: bold;
			color: #ffffff;
			font-family: "Trebuchet MS";
			font-size: 14pt;
			vertical-align: bottom;
			white-space: nowrap;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		.s14 {
			background-color: #ffffff;
			text-align: right;
			font-weight: bold;
			color: #000000;
			font-family: "Trebuchet MS";
			font-size: 10pt;
			vertical-align: bottom;
			white-space: nowrap;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		.s6 {
			background-color: #ffffff;
		}
		.s11 {
			background-color: #ffffff;
			text-align: center;
			font-weight: bold;
			color: #000000;
			font-family: "Trebuchet MS";
			font-size: 11pt;
			vertical-align: bottom;
			white-space: nowrap;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		.s12 {
			background-color: #ffffff;
			text-align: left;
			font-weight: bold;
			color: #000000;
			font-family: "Trebuchet MS";
			font-size: 10pt;
			vertical-align: bottom;
			white-space: nowrap;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		.s3 {
			background-color: #efefef;
			text-align: left;
			color: #000000;
			font-family: "Trebuchet MS";
			font-size: 10pt;
			vertical-align: bottom;
			white-space: nowrap;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		.s0 {
			background-color: #ffffff;
			text-align: right;
			font-weight: bold;
			color: #000000;
			font-family: "Trebuchet MS";
			font-size: 36pt;
			vertical-align: bottom;
			white-space: nowrap;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		.s16 {
			background-color: #ffffff;
			text-align: left;
			color: #000000;
			font-family: "Trebuchet MS";
			font-size: 10pt;
			vertical-align: bottom;
			white-space: normal;
			overflow: hidden;
			word-wrap: break-word;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		.s7 {
			background-color: #efefef;
			text-align: right;
			color: #000000;
			font-family: "Trebuchet MS";
			font-size: 10pt;
			vertical-align: bottom;
			white-space: nowrap;
			direction: ltr;
			padding: 0px 3px 0px 3px;
		}
		&.en span.ch {
			display: none;
		}
		&.ch span.ch {
			display: inline;
		}
	}
}
.po-invoice-wrap {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;

  .invoice-main {
    background: #fff;
    border: 1px solid #ccc;

    .totals {
      .row {
        width: 240px;
        .label {
          font-size: 1rem;
          line-height: 1.8rem;
          color: #868686;
        }
        .amount {
          font-size: 1.1rem;
          line-height: 1.8rem;
          font-weight: bold;
        }
      }

      .amount-due {
        div {
          font-size: 1.3rem;
          color: #4a4a4a;
          &.total {
            font-size: 1.4rem;
            font-weight: bold;
            color: black;
          }
        }
      }
    }
  }
}


/* SUPLY CHAIN -> Order Tracking  */
.inputDrop {
    position: relative;
    cursor: pointer;

    .form-control-file {
        position: relative;
        cursor: pointer;
        min-height: 2rem;
        outline: none;
        opacity: 0;
        z-index: 2;
    }

    .bg {
        position: absolute;
        cursor: pointer;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        text-align: center;
        border: 2px dashed #dee2e6;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        overflow: hidden;
        background: #fff;
        align-items: center;
        display: grid;
        color: #818588;

        &:hover {
            background: #E3E8EB;
            border-color: #ccc;
        }
    }
}
.steps {
	position: relative;
	width: 96%;
	min-width: 300px;
	height: 1rem;

	.step {
		width: 16px;
		height: 16px;
		background: #dfe1e2;
		position: absolute;
		z-index: 1;
		border-radius: 50%;
		cursor: pointer;

		&.s1 { left: -1%; }
		&.s2 { left: 16%; }
		&.s3 { left: 33%; }
		&.s4 { left: 50%; }
		&.s5 { left: 66%; }
		&.s6 { left: 82%; }
		&.s7 { left: 98%; }
		&.active { background: #0f9a2f; }
	}
}



/*---------------------*/
/*     ADVERTISING     */
/*---------------------*/

/* ADVERTISING -> Campaign Management */
.campaign-management-layout {
  section {
      display: none;

      &.active {
          display: block;
      }
  }
}
@media (min-width: 1200px) {
.culling .col-xl-2 {
  -ms-flex: 0 0 14.285%;
  flex: 0 0 14.285%;
  max-width: 14.285%
}
}





/*------------------------*/
/*        FINANCES        */
/*------------------------*/

/* FINANCES -> Budgeting */
a.assign {
    float: right;
}
.budget-month-selector {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  display: inline-block;

  a {
    color: #212529;
    background: #e3e8eb;
    padding: 0.6rem .8rem;
    opacity: 1;
    transition: all linear 0.2s;
    border-color: #fff;

      &:hover {
        opacity: .6;
      }

      
  }

  .month-select {
    padding: 0.4rem 1rem;
    background: #e3e8eb;
    text-align: center;
    display: inline-block;
    min-width: 130px;
    cursor: pointer;
  }

  span {
    display: none;
      &.active {
        display: block;
      }
  }
}

@media (min-width: 1200px) {
    a.assign {
        float: none;
        width: 216px;
    }
    .budget-month-selector {
        display: block;
    }
}
button.addNewExpense {
  position: absolute;
  bottom: -16px;
  background: #fff;
  width: 30px;
  height: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
  border-color: #b9b9b9;
}

/* FINANCES -> Budgeting -> Assign */
.budgeting-transactions {
  overflow: inherit;

  tbody {
      i {
        color: #ccc;
          &.active {
            color: #18b92c;
          }
      }

      tr.transaction-details {
          
          span {
            cursor: pointer;
            display: block;
          }
          .input-group, .btn-toolbar {
            display: none;
          }

          &.show {
            background: #eff2f5;

            span {
                display: none;
            }

            input[type="checkbox"], i {
                margin-top: 8px;
            }

            .input-group, .btn-toolbar {
                display: block;
            }
          }
      }
  }
}


.popup-content {
	position: absolute;
	background: #fff;
	box-shadow: 0 0 20px #ccc;
	min-width: 200px;
	top: 44px;
	z-index: 1;
	display: none;

	&.show {
		display: block;
	}

	&:before {
		content: "";
		width: 0px;
		height: 0px;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 15px solid #f8f9fa;
		position: absolute;
		top: -12px;
		left: 12px;
	}

	b {
		padding: .5rem 1rem;
		display: block;
		border-bottom: 1px solid #e3e8eb;
		background: #f8f9fa;
	}

	a {
		display: block;
		padding: .5rem 1rem;
		border-bottom: 1px solid #e8e8e8;
	}
}

/* FINANCES -> Landing Cost & Analysis */
.cstm-tble-wrap {
  overflow-y: hidden;
  overflow-x: scroll;
}
.cstm-tble-shadow {
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(220, 220, 220, 0.45) 100%);
  position: absolute;
  width: 40px;
  right: 1rem;
  top: 3rem;
  bottom: 2rem;
}
table.cstm-tble {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #dee2e6;
    border-spacing: 0;
    border-collapse: collapse;
    background: #efefef;

    th {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: 1px solid #dee2e6;
        border-spacing: 0;
        border-collapse: collapse;
        background: #efefef;
        
    }
    td {
        vertical-align: bottom;
        white-space: nowrap;
        text-align: center; 
        vertical-align: middle;
        height: 22px;
        min-width: 180px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: 1px solid #dee2e6;
        border-spacing: 0;
        border-collapse: collapse;
        background: #efefef;
    }
    .cb {
        font-weight: bold;
        color: #1155cc;
    }
    .input {
        display: block;
        border: 0;
        width: 100%;
        box-sizing: border-box;
        height: 21px;
        padding: 0;
        text-align: center;
    }
    .bgb {
        background: #739ad4;
    }
    
}