
body {
    font-size: .875rem;
    font-family: "Raleway";
  }

a {
  color: #0047AB;
}
a:hover {
  color: #0898ff;
  text-decoration: none;
}
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
.btn {
  border-radius: 0;
}
.btn-primary {
  background-color: #0047AB;
  border-color: #0047AB;
}

/* signin */
body.signin, html.signin {
  height: 100%;
}
body.signin {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 2.5rem 2rem;
  margin: auto;
}




/* primary nav */
.primary-nav {
  background-color: #E3E8EB;
  height: 58px;
  z-index: 3;
}
.primary-nav .btn:hover, 
.primary-nav .nav-item.active .btn {
  color: #0047AB;
}
.primary-nav .navbar-collapse {
  background-color: #E3E8EB;
  background: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 58px;
  box-shadow: 0 15px 12px rgba(0, 0, 0, 0.12);
}
.primary-nav .nav-item {
  border-bottom: 1px solid #dee2e6;
}
@media (min-width: 992px) {
  .primary-nav .navbar-collapse {
    top: 0;
    width: auto;
    position: relative;
    background: none;
    box-shadow: none;
  }
  .primary-nav .navbar-collapse .navbar-nav {
    right: 0;
    position: absolute;
  }
  .primary-nav .navbar-collapse .nav-item  {
    border: none;
  }
}


/* secondary nav  */
.secondary-nav {
  top: 56px;
  height: 64px;
  z-index: 2;
}
.secondary-nav:after {
  content: "";
  display: block;
  position: absolute;
  width: 180px;
  background: url(./imgs/logo-black.png) no-repeat center;
  background-size: contain;
  height: 20px;
  right: 1rem;
  opacity: .3;
}
.secondary-nav .navbar-toggler {
  position: absolute;
  left: 2rem;
}
.secondary-nav .navbar-collapse {
  background: #fff;
  position: absolute;
  width: 100%;
  top: 64px;
  box-shadow: 0 15px 12px rgba(0, 0, 0, 0.12);
}
.secondary-nav .navbar-collapse .nav-item  {
  display: block;
  border-bottom: 1px solid #dee2e6;
}
.secondary-nav .btn {
  box-shadow: none;
  text-align: left;
}
.secondary-nav .btn:hover,
.secondary-nav .btn.active {
  box-shadow: none;
  color: #0047AB;
}
.secondary-nav .itpf-logo {
  top: 1.2rem;
  right: 2rem;
  opacity: 0.2;
}
@media (min-width: 992px) {
  .secondary-nav .navbar-collapse {
    top: 0;
    width: auto;
    position: relative;
    background: none;
    box-shadow: none;
  }
  .secondary-nav .navbar-collapse .nav-item  {
    display: block;
    border: none;
  }
  .secondary-nav .btn {
    box-shadow: inset 0 -5px 0 #f8f9fa;
    border-radius: 0;
    padding: 1rem;
    font-size: 1.2rem;
  }
  .secondary-nav .btn:hover,
  .secondary-nav .btn.active {
    box-shadow: inset 0 -5px 0 #0047AB;
    background: none;
    color: #0047ab;
  }
}





/* sidebar */
button.sidebar-toggle {
  left: 0;
  position: absolute;
  border: 0;
  background: none;
  padding: .5rem;
  width: 2rem;
  z-index: 2;
}
.sidebar {
  z-index: 1; /* Behind the navbar */
  padding: 120px 0 0; /* Height of navbar */
  overflow: hidden;
  text-align: center;
  font-size: .6rem;
  min-height: 80vh;
}
.sidebar i {
  font-size: 1.3rem;
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  border-left: .3rem solid #fff ;
  padding: 1rem 0;
}
.sidebar .nav-link.active,
.sidebar .nav-link:hover  {
  background-color: #fff;
  font-weight: bold;
  border-left: .3rem solid #0047AB;
}
@media (min-width: 768px) {
  .sidebar {
    font-size: .8rem;
  }
  .sidebar i {
    font-size: 1rem;
  }
  .sidebar .nav-link {
    padding: .8rem 1rem;
  }
}
@media (min-width: 1280px) {
  .sidebar {
    font-size: 1rem;
    text-align: left;
  }
  
}


  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
  }
  
  @media (min-width: 768px) {
    [role="main"] {
      padding-top: 118px; /* Space for fixed navbar */
    }
  }
  @media (min-width: 768px) {
    .recent-po {
      border-left: 1px solid #dee2e6;
    }
  }

main aside.hide {
  display: none;
}

main section.full {
  width: 100%;
  max-width: 100%;
  flex: 100%;
  -ms-flex: 100%;
}


  /* Table */
.table-responsive {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.table td, .table th {
  padding: .75rem .4rem;
}
.table-responsive thead{
  background-color: #E3E8EB;
  border: 0;
}
.table-responsive thead th {
  vertical-align: middle;
}
.table-responsive  td > .btn,
.table-responsive .form-control {
  font-size: 1em;
}
.table-responsive.inventory-analysis .hidden-fields {
  display: none;
}
.table-responsive.inventory-analysis .hidden-fields.active {
  display: table-cell;
}



  /* input types */
  .custom-select,
  .form-control,
  .custom-file-label {
    border-radius: 0;
  }

  /* Order Tracking - drag n drop */
.inputDrop {
  position: relative;
  cursor: pointer;
}
.inputDrop .form-control-file {
  position: relative;
  cursor: pointer;
  min-height: 2rem;
  outline: none;
  opacity: 0;
  z-index: 2;
}
.inputDrop .bg {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  border: 2px dashed #dee2e6;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  background: #fff;
  align-items: center;
  display: grid;
  color: #818588;
}
.inputDrop .bg:hover {
  background: #E3E8EB;
  border-color: #ccc;
}

/* Order Tracking - steps */
.steps {
  position: relative;
  width: 96%;
  min-width: 300px;
  height: 1rem;
}
.step {
  width: 16px;
  height: 16px;
  background: #dfe1e2;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  cursor: pointer;
}
.step.s1 { left: -1%; }
.step.s2 { left: 16%; }
.step.s3 { left: 33%; }
.step.s4 { left: 50%; }
.step.s5 { left: 66%; }
.step.s6 { left: 82%; }
.step.s7 { left: 98%; }
.step.active { background: #0f9a2f; }

.steps .progress {
  height: 8px;
  position: absolute;
  width: 100%;
  top: 4px;
}


/* PO file modal */
table.pofile a {
  color: inherit;
}
table.pofile .s4 {
  background-color: #efefef;
  text-align: right;
  font-weight: bold;
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile .s13 {
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile .s15 {
  background-color: #efefef;
  text-align: right;
  color: #ff0000;
  font-family: "Trebuchet MS";
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile .s2 {
  background-color: #efefef;
  text-align: left;
  font-weight: bold;
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile .s10 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile .s9 {
  background-color: #ffffff;
  text-align: left;
  color: #333399;
  font-family: "Arial";
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile .s5 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile .s1 {
  background-color: #ffffff;
  text-align: right;
  font-weight: bold;
  color: #000000;
  font-family: "docs-pingfang sc", Arial;
  font-size: 24pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile .s8 {
  background-color: #000000;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-family: "Trebuchet MS";
  font-size: 14pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile .s14 {
  background-color: #ffffff;
  text-align: right;
  font-weight: bold;
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile .s6 {
  background-color: #ffffff;
}
table.pofile .s11 {
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 11pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile .s12 {
  background-color: #ffffff;
  text-align: left;
  font-weight: bold;
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile .s3 {
  background-color: #efefef;
  text-align: left;
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile .s0 {
  background-color: #ffffff;
  text-align: right;
  font-weight: bold;
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 36pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile .s16 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 10pt;
  vertical-align: bottom;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile .s7 {
  background-color: #efefef;
  text-align: right;
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
table.pofile.en span.ch {
  display: none;
}
table.pofile.ch span.ch {
  display: inline;
}
table.pofile input {
  border: 0;
  width: 100%;
}
table.pofile tr,
table.pofile td {
  border: 1px solid #dee2e6;
}
.pofile-wrap {
  overflow: auto;
}